# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [88]:
# Import sqlite3 and pandas.
# import sqlite3
# import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [89]:
# Create a new database called exercises.db.
import sqlite3

conn = sqlite3.connect('exercises.db')

print ('Opened database successfully')

Opened database successfully

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [90]:
# Create a new table in your database.
conn.execute('create table favorite_books (title text, author text,description CHAR(50))')
print ("Table created successfully")

Table created successfully

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [96]:
# Add your 3 favorite books to your table.
conn.execute('''INSERT INTO favorite_books (title, author,description) \
      VALUES ('Harry Porter','HP','full of mysteries and magic.')''')
print ('Records created successfully')

Records created successfully

In [97]:
conn.execute('''INSERT INTO favorite_books (title, author,description) \
      VALUES ('Dolphins','DD','learn life of intellegent Ocean creatures.')''')
conn.execute('''INSERT INTO favorite_books (title, author,description) \
      VALUES ('gardening','GG','Tips for gardening.')''')
print ('Records created successfully')

Records created successfully

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [98]:
# Write your SELECT query here.
import pandas as pd
pd.read_sql_query('select * from favorite_books', conn)

          title author                                 description
0  Harry Porter     HP                full of mysteries and magic.
1      Dolphins     DD  learn life of intellegent Ocean creatures.
2     gardening     GG                         Tips for gardening.

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [ ]:
# Use Pandas to make a new table in your database.
df=pd.DataFrame({'id':[1,2,3],'title':['AAA','BBB','CCC']})
df

In [93]:
favorite_movies = df.to_sql('favorite_movies',conn, if_exists = 'replace')
favorite_movies

3

In [99]:
pd.read_sql('select * from favorite_movies', conn).head(20)

   index  id title
0      0   1   AAA
1      1   2   BBB
2      2   3   CCC